
.header-shape{
    display: flex;
    gap: 20px;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    color: white;
    justify-content: center;
}
#tick-icon{
    margin-top: 25px;
    font-size: 20px;
}


.testimonies{
    margin-top: 100px;
}

.contacts-leftside{
    display: flex;
    gap: 30px;
}
.contacts-rightside{
    display: flex;
    gap: 30px; 
    margin-left: 1500px;
}
#home{
    color: orange;
}
#email-icon{
    margin-top: 30px;
    font-size: 20px;
}
#phone-icon{
    margin-top: 30px;
    font-size: 20px;
}

.web-menu{
    list-style-type: none;
    margin-top: 70px;

}
.menubar{
    margin-left: -1500px;
}
#yellowtext{
    color: orange;
}

li{
    display: inline;
    padding: 30px;
}
.container{
    position: relative;
}
.image-text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#start-button{
    background-color: orange;
    color: white;
    padding: 20px;
    border: none;
    width: 200px;
    margin-left: 70px;
    cursor: pointer;
}


#movingtext{
        font-family: "Alfa Slab One", serif;
        font-weight: 900;
        font-style: normal;
        color: white;
        font-size: 70px;
        margin-left: -100px;
      }
      


#cover-image{
    filter: brightness(50%);
    width: 100%;
}
.aboutus-container{
    display: flex;
    gap: 1px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 200px;
}
#head-text{
    margin-left: -35px;
}
.left-container{
    width: 100%;
    margin-left: 100px;
}
.right-container{
    width: 100%;
    margin-right: 100px;
    margin-top: 50px;
}
.riaadSince{
    display: flex;
    gap: 30px;
}
#aboutimage{
    width: 450px;
    height: 450px;
}
.ipsum-logos{
    display: flex;
    gap: 230px;
    margin-left: 130px;
    margin-bottom: 200px;
}
.riaadsince{
    margin-top: 100px;
}
.services-text{
    margin-left: 900px;
    margin-bottom: 40px;
    margin-top: 130px;
}
.blue-container{
background-color: blue;
color: white;
width: 15%;
padding: 70px;
}
#packageicon{
    background-color: orange;
    border-radius: 50%;
    padding: 3px;
}
#truckicon{
    background-color: orange;
    border-radius: 50%;
    padding: 40px; 
}
hr{
    width: 95%;
    
   
}

#blueicon{
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    margin-left: 55px;
    margin-top: -30px;
}
.services-container{
    display: flex;
    gap: 150px;
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 150px;
}
#year{
    font-size: 50px;
    color: black;
    font-weight: 600;
   
}
#video{
    position: relative;
}
#play-icon{
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: white;
    font-size: 25px;
    
    
}
.video-section{
    display: flex;
    gap: 300px;
    margin-left: 450px;
    margin-top: 50px;
}
.video-text{
display: flex;
gap: 40px;

}
#click-text{font-weight: lighter;}
.imagebox{
    position: relative;
    top: -30px;
    left: -30px;
}
.textbox{
    position: absolute;
    top: -50px;
    left: -50px;
    background-color: white;
    width: 220px;
    padding: 20px;
    height: 90px;
}
.left-section{
    background-color: blue;
    position: relative;
    margin-left: 200px;
    width: 20%;
    height: 90%;
    padding: 90px;
    margin-top: 80px;
    
}
.belowtext{
    display: flex;
    gap: 30px;
}
#arrowicon{
    margin-top: 17px;
}
#chairimage{
    width: 90%;
    margin-top: -60px;
    margin-left: -60px;
}
.movingimage{
    position: relative;
}
.yellowplay-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    

}
.sectionDescription{
    display: flex;
    gap: 10px;
}
.right-section{
    display: grid;
    gap: 40px;
    
}
.statisticsContainer{
    display: flex;
    gap: 170px;
    margin-left: 300px;
}
#tickicon{
    margin-top: 25px;
}
.leftform{
    display: grid;

}
.rightform{
    display: grid;
    
}
.formContent{
    display: flex;
    background-color: blue;
    margin-right: 40px;
    gap: 30px;
    width: 781px;
    padding: 50px;

}
#formelements{
    padding: 10px;
    }
#date{
    padding: 10px;
    width: 87%;
}

.oppositeform{
    background-color: orange;
    margin-left: 400px;
    padding: 20px;
    width: 280px;
    height: 280px;
    color: white;
}
#formlabel{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.form{
    display: flex;
    margin-top: -5px;
}
.formsection{
    display: grid;
    width: 100%;
    
}
#submit-button{
    background-color: orange;
    padding: 15px;
    border: none;
    
}
#quotation{
    border-radius: 50%;
    background-color: blue;
    padding: 40px;
    margin-left: 70px;
    
}
#formimage{
    margin-left: 400px;
    width: 1200px;
    filter: brightness(50%);
}
#customerprofile{
    width: 2px;
    height: 2px;
    
}
.yearpart{
    margin-top: 30px;
}
#bookonline{
    margin-left: 900px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.customer-feedback{
    display: flex;
    gap: 70px;
    margin-left: 500px;
}
a{
    color: orange;
}
.articles{
    display: flex;
    gap: 50px;
    margin-left: 500px;
}
.articles-image{
    position: relative;
    
}
#shield{
    background-color: orange;
    border-radius: 50%;
    padding: 40px;
}
#centerimage{
    width: 300px;
    height: 300px;
    filter: brightness(50%);
}
.why-riaad{
    margin-top: 30px;
}
#rightimage{
    width: 300px;
    height: 300px;
    filter: brightness(50%);
}
.blog{
    margin-left: 900px;
    margin-top: 180px;
}
.news-signup{
    display: flex;
    gap: 160px;
}
.testimonies{
    margin-left: 900px;
}
#newsletterbutton{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 12px

}
#leftimage{
    width: 300px;
    height: 300px;
    filter: brightness(50%);
}
.newsletter{
    margin-left: 900px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.articles-text{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    

}
.upperFooter{
    margin-top: 100px;
    background-color: orange;
    display: flex;
    gap: 100px;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    padding: 90px;
    
}
#footer-button{
    background-color: black;
    padding: 5px;
    color: white;
}
.footer-icons{
    display: flex;
    gap: 25px;
    margin-top: 25px;
}
#emailText{
    width: 100%;
    margin-top: 25px;
    height: 50%;
    border: none;

}
#playIcon{
    font-size: 100px;
    
}
.bar{
    display: flex;
    gap: 50px;
    background-color: black;
    color: white;
    justify-content: center;
    
    
    
}
.copyright{
    display: flex;
    gap: 2px;
    color: white;
    justify-content: center;
    margin-top: 60px;
}
#uparrow{
    margin-left: 1800px;
}
.lowerFooter{
    display: grid;
    gap: 80px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;

}
#copyrighticon{
    margin-top: 25px;
    font-size: 15px;
}

    @media only screen and (max-width:768px) {
        body{
            max-width: 100%;
        }
      .contact-details{
        display: block;
       
        
      }
      .contacts-rightside{
        margin-left: -170px;
        margin-top: 70px;
        margin-bottom: 10px;
      }
     
      .container{
        width: 100%;
        margin-top: 50px;
      }
      #movingtext{
        font-size: 10px;
        margin-left: 30px;
        
      }
      #start-button{
        display: none;
       
       
      }
      .image-text{
        align-items: center;
      }
      .aboutus-container{
        display: block;
        margin-left: auto;
        margin-bottom: 50px;
    
      }
      .left-container{
        margin-left: auto;
      }
      #aboutimage{
        width: 250px;
        height: 250px;
      }
      
      #aboutImage{
        width: 250px;
        height: 250px;
      }
      .ipsum-logos{
        display: block;
        margin-bottom: auto;
        margin-left: 30px;
        
      }
      .video-section{
        display: block;
        margin-left: auto;
      }
      .statisticsContainer{
        margin-left: 10px;
        width: auto;
        display: block;
      }
      .left-section{
        margin-left: auto;
        width: auto;
      }
      #bookonline{
        margin-left: auto;
        
      }
      .yellowplay-icon{
        display: none;
      }
      .services-text{
        margin-left: 110px;
        margin-top: 50px;
      }
      .formsection{
        margin-left: 0px;
        width: 10px;
      }
      #formimage{
        margin-left: 0px;
        width: 240px;
        height: 240px;
        position: relative;
      }
      .services-container{
        margin-left: 50px;
        display: block;
        margin-top: auto;
      }
      .form{
        display: grid;
        width: auto;
      }
      .oppositeform{
        margin-left: 0px;
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
     .formContent{
        display: block;
        width: 150px;
     }
      #formelements{
        width: 150px;
      }
      .testimonies{
        margin-left: 60px;
      }
      .customer-feedback{
        display: block;
        margin-left: auto;
      }
      .news-signup{
        display: grid;
        gap: 0px;
      }
      .blog{
        margin-left: 60px;
        margin-top: auto;
      }
      .newsletter{
        margin-left: 60px;
      }
      .blue-container{
        width: auto;
        margin-bottom: 40px;
        margin-left: auto;
      }
      #blueicon{
        margin-left: auto;
      }
      .articles{
        display: block;
        margin-left: auto;
        width: auto;
        
      }
      #leftimage{
        width: 250px;
        height: 250px;
      }
      #rightimage{
        width: 250px;
        height: 250px;
      }
      #centerimage{
        width: 250px;
        height: 250px;
      }
      .upperFooter{
        width: auto;
        display: block;
        padding: auto;
        border-radius: 0%;
        margin-top: 20%;
      }
     .lowerFooter{
       display: block;
       width: auto;
      }
      .bar{
        display: grid;
      }
      #uparrow{
        margin-left: 200px;
        margin-top: 40px;
        
      }
    }

